:root{
    /*variables for colors throughout the website*/
    --db: #023047;
    --mb: #219ebc;
    --lb: #8ecae6;
    --cy: #ffb703;
    --co: #fb8500;
}

body{
    background-color:var(--db) ;
}

a{
    cursor: pointer;
}
 .main-home a{
    color: var(--db);
 }

h1{
    font-size: 26px;
    line-height: 32px;
    color: var(--co);
    font-family: roboto;
    font-weight: 600;
}

p{
    font-size: 14px;
    line-height: 18px;
    color: white;
    font-family: roboto;
}

.header-main{
    position: fixed;
    background-color: var(--mb);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.header-main-logo{
    width:120px; /*change to fit-content*/
    height:100%;
}

.header-main-logo img{
    height: 60px;
    align-self: center;
}

.header-main-nav{
    width: fit-content;
    height:100%;
}

.header-main-nav ul{
    list-style: none;
}

.header-main-nav ul li{
    display: inline;
    float: left;
    line-height: 60px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Roboto", sans-serif;
    /*other one in case font-family: "Protest Riot", sans-serif;*/
}

.header-main a:hover{
    color:var(--co);
}

.header-main-sm{
    width: fit-content;
    height:100%;
    font-family: "Roboto", sans-serif;
    align-self: center;
    line-height: 60px;
    margin-right: 40px;
}