:root{
    /*variables for colors throughout the website*/
    --db: #023047;
    --mb: #219ebc;
    --lb: #8ecae6;
    --cy: #ffb703;
    --co: #fb8500;
}

body{
    background-image: linear-gradient(to right, black, var(--mb));
}

a{
    cursor: pointer;
}
 .main-home a{
    color: var(--db);
 }

.header-main ul{
    margin-top: 0px;
    list-style-type: none;
}

.header-main{
    position: fixed;
    background-color:rgba(33, 158, 188, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    border: 2px var(--db);
}

.header-main-logo{
    width:120px; /*change to fit-content*/
    height:100%;
    margin-left: 20px;
}

.header-main-logo img{
    height: 80px;
    align-self: center;
}

.header-main-nav{
    width: fit-content;
    height:100%;
}

.header-main-nav ul{
    list-style: none;
}

.header-main-nav ul li{
    font-size: 22px;
    display: inline;
    float: left;
    font-weight: 700;
    line-height: 30px;
    margin-top: 23px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Roboto", sans-serif;
    /*other one in case font-family: "Protest Riot", sans-serif;*/
}

/* Individual navigation link styles */
.header-main-nav ul li a {
    /*background-color: rgba(33, 158, 188, 0.65);*/
    display: inline-block; /* Make links block elements */
    padding: 0 12px; /* Add padding to create space around text */
    text-decoration: none; /* Remove default underline */
    /*border: 2px solid var(--db);*/ /* Add border with coral color */
    border-radius: 5px; /* Add border radius for rounded corners */
    color: var(--db); /* Set text color to white */
    font-family: "Roboto", sans-serif; /* Use Roboto font */
    transition: background-color 0.5s, color 0.5s; 
}

.header-main-nav ul li a.current-page {
    background-color: var(--db); /* Highlight color for the current page */
    color: var(--co); /* Text color */
    border: 2px solid var(--db);
}

.header-main-c ul li a.current-page {
    background-color: var(--db); /* Highlight color for the current page */
    color: var(--co); /* Text color */
    border: 2px solid var(--db);
}

/* Hover effect for navigation links */
.header-main-nav ul li a:hover {
    background-color: var(--db); /* Change background color on hover */
    color: var(--co); /* Change text color on hover */
    border: 2px solid var(--db);
}

.header-main-c{
    width: fit-content;
    height:100%;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    align-self: center;
    margin-top: 47px;
    line-height: 30px;
    margin-right: 40px;
}

.header-main-c a{
    background-color: rgba(33, 158, 188, 0.85);
    display: inline-block; /* Make links block elements */
    padding: 0 12px; /* Add padding to create space around text */
    text-decoration: none; /* Remove default underline */
    border: 2px solid var(--db); /* Add border with coral color */
    border-radius: 5px; /* Add border radius for rounded corners */
    color: var(--db); /* Set text color to white */
    font-family: "Roboto", sans-serif; /* Use Roboto font */
    transition: 0.5s, color 0.5s; 
}
.header-main-c a:hover{    
    background-color: var(--db); /* Change background color on hover */
    color: var(--co); /* Change text color on hover */
    border: 2px solid var(--db);
}

main {
    width: 100%;
    background: url(../images/home.png) top / cover no-repeat var(--db);
    margin-top: 80px; /* Adjust margin to create space below the header */
    padding-top: 20px; /* Add padding to create space between header and content */
    height: calc(128vh - 80px); /* Adjust height dynamically based on viewport size */
    overflow: auto; /* Add overflow property to handle overflow content */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-home h1{
    color: var(--co);
    font-family: roboto;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    position: relative;
    font-size: 96px;
    line-height: 106px;
    padding-bottom: 20px;
    right: 17vh; 
    bottom: 20vh;
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from{
        right: 100%;
    }
    to{
        right: 25.5%;
    }
}


main a {
    text-shadow: none;
    font-size: 50px;
    display: inline-block; /* Change to inline-block for better control over padding */
    background-color: var(--co);
    padding: 6px 25px; /* Adjust padding */
    border-radius: 25px; /* Add border-radius for rounded corners */
    text-decoration: none; /* Remove default underline */
    font-family: roboto;
    transition: background-color 0.5s, color 0.5s; /* Add transition effect */
    height: 116px;
    margin-top: 20px;
}

main a:hover {
    background-color: var(--db); /* Change background color on hover */
    color: var(--co); /* Change text color on hover */
}
.main-quote p {
    font-size: 18px;
    line-height: 30px;
    color: white;
    width: fit-content;
    font-family: roboto;
    z-index: 1;
    padding: 20px;
    margin: 40px 0;
    background-color: rgba(2, 48, 71, 0.5);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0 20px 20px 0;
    position: relative; /* Required for positioning pseudo-element */
    left: 21vh;
    bottom: 25vh;
    animation-duration: 2s;
    animation-name: sli;
}

@keyframes sli{
    from{
        left: 100%;
    }
    to{
        left: 47%;
    }
}

.main-quote p:nth-child(2) {
    margin-left:90px; 
}

.main-quote p::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px; /* Adjust the distance of the margin from the left */
    height: 100%;
    width: 10px; /* Width of the orange margin */
    background-color: var(--co); /* Orange color */
    border-radius: 20px 0 0 20px; /* Ensure rounded border on the left */
}

.line{
    width: 100%;
    height: 12px;
    background-color: var(--co);
}    

section{
    width: 100%;
    height: 900px;
}

.main-form{
    z-index: 3;
    position: absolute;
    margin-top: 60px;
    margin-left: 1045px;
    height: 265px;
    width: 600px;
    border-radius: 50px;
    background-color: var(--db);
}

.info{
    z-index: 2;
    position: absolute;
    margin-top: 150px;
    margin-left: 60px;
    border-radius: 50px;
    height: 670px;
    width: 1040px;
    background-color: var(--co);
}

.main-form form{
    margin-top: 80px;
    margin-left: 80px;

}

.main-form h2 {
    text-align: center;
    color: var(--co);
    font-family: roboto;
    font-size: 40px;
    font-weight: 500;
    margin-top: 30px;
}

.donate-amounts {
    font-family: roboto;
    width: 540px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    transition: 0.5s, color 0.5s;
}
  
.donate-button {
    font-family: roboto;
    margin-left: 12px;
    width: calc(25% - 10px);
    color: var(--co);
    padding: 10px;
    border: 2px solid var(--co);
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    transition: 0.5s, color 0.5s;
}

.donate{
    font-family: roboto;
    margin-left: 32px;
    width: calc(90% - 10px);
    color: var(--co);
    padding: 10px;
    border: 2px solid var(--co);
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    transition: 0.5s, color 0.5s;
}

.donate.selected{
    background-color: var(--co);
    color: var(--db);
}

.donate:hover{
    background-color: var(--co);
    color: var(--db);
}
  
.donate-button.selected {
    background-color: var(--co);
    color: var(--db);
}
  
.donate-button:hover {
    background-color: var(--co);
    color: var(--db);
}
  